html,
body {
  min-width: 1200px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  min-width: 1200px;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-navigation {
  display: flex;
  flex-direction: column;
}

.main-navigation-wrapper {
  width: calc(100% - 160px);
  display: flex;
  justify-content: flex-end;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-bottom: 35px;
}


main::before,
.header::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-navigation,
.shop-cart {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;

  max-width: 700px;
  margin: 0;
  padding-left: 60px;
}

.shop-cart {
  max-width: 160px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;

  list-style: none;
}

.user-navigation a,
.shop-cart a {
  display: block;
  color: #000000;

  padding-right: 20px;
  padding-left: 20px;
  padding-top: 43px;
}

.site-navigation a,
.user-navigation a {
  list-style: none;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation a:hover,
.main-header-logo a:hover {
  color: #000000;
  opacity: 0.8;
}

.site-navigation a:focus,
.main-header-logo a:focus {
  color: #000000;
  opacity: 0.3;
}

.main-header,
.sliders {
  background-color: #eeeeee;
}

.site-navigation a:link,
.user-navigation a:link {
  color: #000000;
}
.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}

.shop-cart .cart-link {
  position: relative;
  padding-left: 38px;
}

.cart-link::before {
  content: "";

  position: absolute;

  top: 47px;
  left: 5px;

  width: 17px;
  height: 17px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


/*СЛАЙДЕРЫ*/

.slider {
  position: relative;

  background-color: #eeeeee;

  margin-bottom: 85px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.products-list {
  list-style: none;
}

.products-list h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  /*margin-bottom: 26px;*/

}

.products-list p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  /*margin-bottom: 35px;*/
}

.products-list a {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.products-item-1 .order-1 {
  display: inline-block;
  padding: 16px 40px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.products-item-2 .order-2 {
  display: inline-block;
  padding: 16px 40px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #00ca74;
  border: none;
  border-radius: 3px;
}

.products-item-3 .order-3 {
  display: inline-block;
  padding: 16px 40px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #efc84a;
  border: none;
  border-radius: 3px;
}

.products-item-1 a:hover,
.order-1 a:hover {
  background-color: #e74246;
}

.products-item-2 a:hover,
.order-2 a:hover {
  background-color: #00bc6c;
}

.products-item-3 a:hover,
.order-3 a:hover {
  background-color: #eab534;
}

.products-item-1 a:focus,
.order-1 a:focus {
  color: #e37376;
  background-color: #d7373b;
}

.products-item-2 a:focus,
.order-2 a:focus {
  color: #4dc491;
  background-color: #00aa62;
}

.products-item-3 a:focus,
.order-3 a:focus {
  color: #edc265;
  background-color: #e5a722;
}

.description .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.description-about {
  display: block;
  margin-bottom: 25px;
}

.description-about b {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  padding-bottom: 20px;
}

.description-about p {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.description-orders b {
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 10px;
}

.description-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.description-item p::before {
  content: "";
  display: inline-block;

  width: 25px;
  height: 2px;
  background-color: #fb565a;
  margin-right: 9px;
  margin-bottom: 5px;
  margin-left: -30px;
}

.description-orders p {
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
}

.description-orders ul {
  list-style: none;
}

.title-table {
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 45px;
}

.description-left {
  display: block;
  margin-right: 140px;
  width: 660px;
}

.description-percent {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.description-percent b{
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  padding-right: 20px;
  padding-bottom: 25px;
}

.description-percent p {
  display: block;
  font-size: 16px;
  line-height: 18px;
  padding-right: 20px;

}

.description-percent-item {
  list-style: none;
}

.description-right {
  width: 360px;
}

.description-logo {
  display: block;

  padding-bottom: 41px;
}

.description-percent-item {
  width: 360px;
}

/*Стилизация ссылок на партнеров*/

.partners ul {
  list-style: none;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 130px;
}

.partners-item {
  width: 260px;
}
.partners-list a {
  width: 100%;
  opacity: 0.2;
}

.partners-item a:hover {
  opacity: 1;
}

.partners-item a:focus {
  opacity: 0.1;
}

/*Стилизация подвала*/

.main-footer {
  margin: 0;
  padding: 0;
}

.footer-map {
  margin-bottom: 70px;
}

.map-container {
  max-width: 1440px;
  margin-right: 0;
  margin-left: 0;
}

.footer-contact h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-contact p {
  font-size: 16px;
  line-height: 18px;
}

.footer-contact
a.button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
  width: 219px;
  height: 50px;
}

a.message-button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.message-button {
  display: inline-block;
  padding: 16px 45px;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
}

.footer-bottom {
  margin-bottom: 70px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.social {
  width: 280px;
  margin-right:140px;
  text-align: center;
}
.social ul {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: #e1e1e1;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:focus {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c23235
}

.social-button:focus path {
  fill: #e37376;
}

.social-discount {
  display: block;
  width: 560px;
  margin-right: 100px;
}

.social-discount b {
  display: block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social-discount p {
  font-size: 16px;
  line-height: 22px;
}



/*СТИЛИЗАЦИЯ СТРАНИЦЫ МАГАЗИНА*/


.inner-page .main-header {
  margin-bottom: 60px;
}
.inner-page .site-navigation {
  margin-bottom: 100px;
}

.shop-title  h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding-bottom: 115px;
  text-align: center;
}

.catalog-columns .container {
  display: flex;
  justify-content: space-between;
}

fieldset {
  border: none;
}

.filter-left-item {
  width: 260px;
  margin-right: 140px;
  padding: 0px;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  margin-bottom: 60px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-grid p {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.filter-grid input {
  opacity: 0.4;
}

.filter-grid input:hover[type="radio"],
input:hover[type="radio"] {
  opacity: 1;
}

.filter-features {
  margin-bottom: 45px;
}

.filter-features legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-features p {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.filter-features input {
  opacity: 0.4;
}

.filter-features input:hover[type="checkbox"],
input:hover[type="checkbox"] {
  opacity: 1;
}

 button {
  width: 260px;
  height: 50px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
   outline: none;
}



/*Стилизация состояний кнопки. Не работает. Сделать через id?*/

.filter-price button:hover {
  background-color: #dfdfdf;
}

.filter-price button:focus {
  color: #959595;
  background-color: #dfdfdf;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.filter-right ul {
  list-style: none;
}

.filter-right h3 {
  padding-right: 265px;
}

.filter-right {
  display: flex;
  justify-content: space-between;

  margin-bottom: 95px; (еще 40 сверху для иконки шапки макета)
  max-width: 700px;
}

.filter-item {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.filter-right,
.templates {
  width: 760px;
}

.filter-right h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-right a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  margin-bottom: 60px;
}

.templates-item:nth-child(2n) {
  margin-right: 0px;
}

.templates-item {
  width: 360px;
  margin-bottom: 33px;
  padding-right: 20px;
}

.templates-filter ul {
  list-style: none;
}

.filter-item a {
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
}

.filter-item a:hover {
  opacity: 0.6;
}
.filter-item a:focus {
  opacity: 1;
}

.item-description .card {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.item-description p {
  font-size: 16px;
  line-height: 18px;
}

.item-description .button {
  text-decoration: none;
  color: #ffffff;

  background-color: #fb565a;
}

.item-description a:hover {
  background-color: #e74246;
}

.item-description a:focus {
  background-color: #d7373b;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
  margin-bottom: 60px;
}

.pagination-item .page-button-next {
  display: block;
  padding: 13px 80px;

  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  /*border: 3px solid #eeeeee;*/
  border-radius: 3px;
}

.pagination-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #000000;
}

.footer-social a {
  text-decoration: none;
  color: black;
}

.social-button {
  list-style: none;
}

.pagination-item a {
  display: block;
  padding: 13px 19px;
  color: #000000;
  border-radius: 3px;

  background-color: #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:focus {
  color: #959595;
  background-color: #dfdfdf;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.pagination-item-current a {
  padding: 10px 16px;
  color: #000000;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

/*Сеточные стили*/




.products {
  margin-bottom: 160px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products-item {
  width: 300px;
}

.products-item-3 {
  padding-right: 60px;
}





