body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  min-width: 1440px;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 80px;
}

.main-header-logo {
  position: absolute;
  top: 20px;
  left: 260px;
  order: 0;
  width: 160px;
  height: 65px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 35px;

  background-color: #eeeeee;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-left: 500px;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  max-width: 1160px;

  background-color: #eeeeee;
}

.user-navigation,
.shop-cart {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;

  max-width: 700px;
  margin: 0;
  padding-left: 60px;
}

.shop-cart {
  max-width: 160px;

  list-style: none;
}

.user-navigation a,
.shop-cart a {
  display: block;
  color: #000000;

  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
}

.main-navigation a,
.user-navigation a {
  list-style: none;
  color: #000000;
  text-transform: uppercase;
}

.main-navigation a:focus,
.main-header-logo a:focus {
  color: #000000;
  opacity: 0.5;
}

.main-header,
.sliders {
  background-color: #eeeeee;
}

.site-navigation a:link,
.user-navigation a:link {
  color: #000000;
}
.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}

.shop-cart .cart-link {
  position: relative;
  padding-left: 38px;
}

.cart-link::before {
  content: "";

  position: absolute;

  top: 47px;
  left: 5px;

  width: 17px;
  height: 17px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-text b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-text p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}


a.more {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.more {
  display: inline-block;
  padding: 16px 55px;
  vertical-align: middle;
  border: none;
}

.products-list {
  list-style: none;
}

.products-list h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  /*margin-bottom: 26px;*/

}

.products-list p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  /*margin-bottom: 35px;*/
}

.products-list a {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.products-item-1 .order-1 {
  display: inline-block;
  padding: 16px 40px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.products-item-2 .order-2 {
  display: inline-block;
  padding: 16px 40px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #00ca74;
  border: none;
  border-radius: 3px;
}

.products-item-3 .order-3 {
  display: inline-block;
  padding: 16px 40px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #efc84a;
  border: none;
  border-radius: 3px;
}

.products-item-1 a:hover,
.order-1 a:hover {
  background-color: #e74246;
}

.products-item-2 a:hover,
.order-2 a:hover {
  background-color: #00bc6c;
}

.products-item-3 a:hover,
.order-3 a:hover {
  background-color: #eab534;
}

.products-item-1 a:focus,
.order-1 a:focus {
  background-color: #d7373b;
}

.products-item-2 a:focus,
.order-2 a:focus {
  background-color: #00aa62;
}

.products-item-3 a:focus,
.order-3 a:focus {
  background-color: #e5a722;
}

/*.description-logo {*/
  /*margin-left: 40px;*/
/*}*/

.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.description-about {
  display: block;
  margin-bottom: 25px;
}

.description-about b {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  padding-bottom: 20px;
}

.description-about p {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.description-orders b {
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 10px;
}

.description-orders p {
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
}

.description-orders ul {
  list-style: none;
}

.title-table {
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 45px;
}

.description-left {
  display: block;
  margin-right: 140px;
  width: 660px;
}

.description-percent {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.description-percent b{
  display: block;
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  padding-right: 20px;
  padding-bottom: 25px;
}

.description-percent p {
  display: block;
  font-size: 16px;
  line-height: 18px;
  padding-right: 20px;

}

.description-percent-item {
  list-style: none;
}

.description-right {
  width: 360px;
}

.description-percent-item {
  width: 360px;
}

/*Стилизация ссылок на партнеров*/

.partners ul {
  list-style: none;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 130px;
}

.partners-item {
  width: 260px;
}
.partners-list a {
  width: 100%;
  opacity: 0.2;
}

.partners-item a:hover {
  opacity: 1;
}

.partners-item a:focus {
  opacity: 0.1;
}

/*Стилизация подвала*/

.main-footer {
  margin: 0;
  padding: 0;
}

/*.map-container {*/
  /*max-width: 1440px;*/
  /*max-height: 414px;*/
/*}*/

.map-container .contact-map {

  /*display: block;*/
  width: 1440px;
  height: 414px;
  align-items: center;
  margin: 0;
  padding-left: -140px;
}

/*.contact-map::before {*/
  /*content: "";*/

  /*position: absolute;*/

  /*bottom: 218px;*/
  /*left: -30px;*/

  /*width: 1440px;*/
  /*height: 414px;*/

  /*background-image: url("../img/map-and-marker.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-position: 0 0;*/
/*}*/


.footer-contact h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-contact p {
  font-size: 16px;
  line-height: 18px;
}

.footer-contact
a.button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
  width: 219px;
  height: 50px;
}

a.message-button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.message-button {
  display: inline-block;
  padding: 16px 45px;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}

.social {
  display: block;
  width: 260px;
  margin-right:140px;
}

.social-button {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.social-discount {
  display: block;
  width: 560px;
  margin-right: 100px;
}

.social-discount b {
  display: block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social-discount p {
  font-size: 16px;
  line-height: 22px;
}

.footer-social ul {
  list-style: none;
}


/*Стилизация страницы магазина*/

.shop-title {
  font-size: 55px;
  line-height: 55px;
}

.shop-filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.prise-list-1 input {
  width: 260px;
  height: 80px;
  background-color: #eeeeee;
}

.prise-list-2, span {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
}

.prise-list-2 input {
  width: 80px;
  height: 38px;
  border-radius: 3px;
  background-color: #eeeeee;
  font: inherit;
  text-align: center;
  border: none;
}

.filter-grid p {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.filter-grid input {
  opacity: 0.4;
}

filter-grid input:hover[type="radio"],
input:hover[type="radio"] {
  opacity: 1;
}

.filter-features p {
  ont-size: 16px;
  line-height: 20px;
  color: #000000;
}

.filter-features input {
  opacity: 0.4;
}

filter-features input:hover[type="checkbox"],
input:hover[type="checkbox"] {
  opacity: 1;
}

.filter-button .show {
  width: 260px;
  height: 50px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

/*Стилизация состояний кнопки. Не работает. Сделать через id?*/

.show button:hover [type="submit"] {
  background-color: #dfdfdf;
  opacity: 1;
}

.show button:focus [type="submit"] {
  color: #000000;
  opacity: 0.3;
  background-color: #d5d5d5;
}

.templates-filter h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.templates-filter a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.templates-filter ul {
  list-style: none;
}

.filter-item a {
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
}

.filter-item a:hover {
  opacity: 0.6;
}
.filter-item a:focus {
  opacity: 1;
}


.item-description .card {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.item-description p {
  font-size: 16px;
  line-height: 18px;
}

.item-description .button {
  text-decoration: none;
  color: #ffffff;

  background-color: #fb565a;
}

.price-button a:hover {
  background-color: #e74246;
}

.price-button a:focus {
  background-color: #d7373b;
}

.templates-pagination ul {
  list-style: none;
}

.pagination-list a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #eeeeee;
}

.pagination-list a:focus {
  opacity: 0.3;
}

.footer-social a {
  text-decoration: none;
  color: black;
}

.social-button {
  list-style: none;
}

/*Сеточные стили*/

html,
body {
  min-height: 2473px;
  min-width: 1440px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.map-container {
  width: 1440px;
  margin: auto;
}

.products {
  margin-bottom: 160px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products-item-1,
.products-item-2,
.products-item-3 {
  width: 300px;
}

.products-item-3 {
  padding-right: 60px;
}








