body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;

}

a {
  text-decoration: none;
}

.mine-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
}

.mine-navigation a,
.site-navigation a {
  list-style: none;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
  background-color: fb565a;
}


